@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html,
body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #111827;
  --color-secondary-dark: #0f172a;
  --color-subtext: #6b7280;
  --color-accent: #374151;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: rgba(79, 70, 229, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(79, 70, 229, 0.6);
}
